## Procesamiento de data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_table('datos.txt', sep = ' ')
df.columns = [column.replace(" ", "_") for column in df.columns]
df

   id   x  y   z   tonn  blockvalue  destination  CU%  process_profit
0   0  11  0  18  16380    -12285.0            2  0.0             0.0
1   1  12  0  18  16380    -12285.0            2  0.0             0.0
2   2  13  0  18  16380    -12285.0            2  0.0             0.0
3   3  13  1  18  16380    -12285.0            2  0.0             0.0
4   4  14  0  18  16380    -12285.0            2  0.0             0.0
5   5  14  1  18  16380    -12285.0            2  0.0             0.0
6   6  15  1  18  16380    -12285.0            2  0.0             0.0
7   7  16  1  18  16380    -12285.0            2  0.0             0.0
8   8   7  0  17  16380    -12285.0            2  0.0             0.0
9   9   8  0  17  12000     -9000.0            2  0.0             0.0

In [22]:
df

,id,x,y,z,tonn,blockvalue,destination,CU%,process_profit
0,0,11,0,18,16380,-12285.0000,2,0.000,0.0000
1,1,12,0,18,16380,-12285.0000,2,0.000,0.0000
2,2,13,0,18,16380,-12285.0000,2,0.000,0.0000
3,3,13,1,18,16380,-12285.0000,2,0.000,0.0000
4,4,14,0,18,16380,-12285.0000,2,0.000,0.0000
...,...,...,...,...,...,...,...,...,...
14148,14148,60,22,0,16260,136481.0096,1,0.924,148676.0096
14149,14149,60,23,0,16260,132053.7237,1,0.908,144248.7237
14150,14150,60,24,0,16260,128043.1476,1,0.888,140238.1476
14151,14151,60,25,0,16260,117441.3854,1,0.836,129636.3854
14152,14152,61,23,0,16260,132781.5934,1,0.915,144976.5934

In [40]:
i=0
combined_df = pd.DataFrame()
combined_dfm = pd.DataFrame()

while (combined_df.shape)[0]<1601:
    df_tem  = df.sample(n=1)
    df_tem = df_tem[['x', 'y']]
    df_tem_two = np.array(df_tem)
    A = df_tem_two[0][0]
    B = df_tem_two[0][1]
    df_tem_three = df.query('x == @A and y == @B', inplace=False)
    if (combined_df.shape)[0]<150:
        combined_dfm = pd.concat([combined_dfm, df_tem_three], ignore_index=True)
        combined_dfm = combined_dfm.drop_duplicates()
    combined_df = pd.concat([combined_df, df_tem_three], ignore_index=True)
    combined_df = combined_df.drop_duplicates()
    i=i+1

In [41]:
combined_df

       id   x   y   z   tonn    blockvalue  destination    CU%  process_profit
0    1268  44  22  15  16380  -12285.00000            2  0.000         0.00000
1    2554  44  22  14  15360  -11520.00000            2  0.000         0.00000
2    4035  44  22  13  15360  -11520.00000            2  0.000         0.00000
3    5677  44  22  12  15360  -11520.00000            2  0.000         0.00000
4    7309  44  22  11  15360  -11520.00000            2  0.000         0.00000
5    8762  44  22  10  15360  -11520.00000            2  0.000         0.00000
6   10044  44  22   9  15360  -11520.00000            2  0.000         0.00000
7   11154  44  22   8  15360  -11520.00000            2  0.000         0.00000
8   11935  44  22   7  16140  115495.14150            1  0.800    127600.14150
9   12557  44  22   6  16140  101600.84610            1  0.746    113705.84610
10  13008  44  22   5  16260  107450.75560            1  0.748    119645.75560
11  13370  44  22   4  16260   97866.79809            1  0.706    110061.79809
12  13659  44  22   3  16260   89573.90360            1  0.671    101768.90360

In [161]:
x = np.array(combined_df['x']).astype(float)
y = np.array(combined_df['y']).astype(float)
z = np.array(combined_df['z']).astype(float)
cu_value = np.array(combined_df['CU%']).astype(float)

## Gstools

In [5]:
import gstools as gs

In [102]:
# Crear un modelo de variograma esférico
model = gs.Spherical(dim=3, var=0.5, len_scale=1.5)

# Crear una instancia de Kriging Ordinario con el modelo
krige = gs.krige.Ordinary(model, [x, y, z], cu_value,exact=True)

In [50]:
# Realizar el Kriging en la grilla deseada
gridx = np.linspace(3, x.max(), 10)
gridy = np.linspace(2, y.max(), 10)
gridz = np.linspace(3, z.max(), 10)
# gridx, gridy, gridz = np.meshgrid(gridx, gridy, gridz)

# Obtener los valores estimados y las varianzas
kriged_field, variances = krige([gridx, gridy, gridz])

In [51]:
kriged_field

array([0.37945997, 0.37945997, 0.37945997, 0.39833957, 0.37957271,
       0.34780489, 0.37945997, 0.37945997, 0.37945997, 0.37945997])

## Pykrige

In [9]:
from pykrige.ok3d import OrdinaryKriging3D

In [10]:
ok3d = OrdinaryKriging3D(x,y,z,cu_value, variogram_model=model)

In [52]:

k3d1, ss3d = ok3d.execute("grid", gridx, gridy, gridz)

## Comparacion

In [53]:
kriged_field

array([0.37945997, 0.37945997, 0.37945997, 0.39833957, 0.37957271,
       0.34780489, 0.37945997, 0.37945997, 0.37945997, 0.37945997])

In [55]:
k3d1[5][5][5]

0.347804894865737

La diferencia fundamental es que kriged field al parece solo predice los puntos en orden en el cual estan los gridx, gridy , gridz y no hace combinaciones, es decir 1 a 1, posicion a posicion. Si comparamos los resultados da exactamente el mismo valor.

Esto puede cambiar usando la instancia structured de gstool

In [103]:
kriged_field_2, variances_2 = krige.structured([gridx, gridy, gridz])

In [105]:
k3d1.data

array([[[0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.57473387, 0.45363532, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37950964, 0.40970048, 0.37945997, 0.37939069, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.40050631, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]],

       [[0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.39746433, 0.59159726, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.60287463, 0.43436029, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37964216,
         0.41350427, 0.41050999, 0.37945997, 0.34698468, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.36969447, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.3747028 , 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]],

       [[0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.40420593, 0.37945997, 0.37945997, 0.39805989,
         0.51230683, 0.77286488, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.38690606, 0.37945997, 0.37945997, 0.37945997,
         0.62508644, 0.41260547, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.44720352,
         0.39910363, 0.39898056, 0.37945997, 0.34773151, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.36578786, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.06713114, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.3521368 , 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]],

       [[0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.3999981 , 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.39971134, 0.51263311, 0.39833957, 0.42980362,
         0.70283752, 0.54913649, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.40563142, 0.37945997, 0.37945997, 0.38018272,
         0.65736319, 0.33398996, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.38651786, 0.37945997, 0.4895241 ,
         0.3517013 , 0.35803743, 0.37945997, 0.35011555, 0.37939068],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.36334993, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.06360147, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.31059168, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]],

       [[0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.3925633 , 0.37945997,
         0.3913553 , 0.37945997, 0.3746821 , 0.37945997, 0.37945997],
        [0.37945997, 0.40004158, 0.5509495 , 0.40210613, 0.42897199,
         0.99444146, 0.31921974, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.42953712, 0.37945997, 0.37945997, 0.37957271,
         0.67195831, 0.33836974, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.41872901, 0.37945997, 0.62875624,
         0.34776125, 0.35632951, 0.37945997, 0.34781751, 0.346996  ],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.36475141, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.08856638, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37626383, 0.3064497 , 0.34178365, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]],

       [[0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.40810084, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.39331643, 0.40112498,
         0.38973746, 0.37945997, 0.07447306, 0.37945997, 0.37945997],
        [0.37945997, 0.40071248, 0.52477728, 0.40016073, 0.42477517,
         0.8830019 , 0.20183267, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.39236379, 0.37945997, 0.37945997, 0.37949084,
         0.15475685, 0.33828055, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.4070948 , 0.37945997, 0.42386093,
         0.34780489, 0.35635637, 0.37945997, 0.34793063, 0.34785601],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.3647735 , 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.09015941, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37673241, 0.30423843, 0.33201715, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37897765, 0.37945997, 0.37945997]],

       [[0.37945997, 0.32153818, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.42483931, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.40053549, 0.400402  ,
         0.390861  , 0.37945997, 0.07246559, 0.37945997, 0.37945997],
        [0.37945997, 0.41542895, 0.45607986, 0.39866472, 0.39345618,
         0.60210728, 0.20153489, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.35196614, 0.37945997, 0.37945997, 0.37999467,
         0.19725435, 0.33874037, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.35826835, 0.37945997, 0.214538  ,
         0.35001708, 0.35659952, 0.37945997, 0.34575042, 0.34574817],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.36087962, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.0679518 , 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37379879, 0.37445508, 0.3781689 , 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]],

       [[0.37945997, 0.41518458, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.42330915, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37788346, 0.39583182,
         0.37936206, 0.37945997, 0.09814807, 0.37945997, 0.37945997],
        [0.37945997, 0.37459371, 0.21572139, 0.38578472, 0.40994542,
         0.10515062, 0.1786449 , 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37382082, 0.37945997, 0.37945997, 0.37940418,
         0.182563  , 0.33427603, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37271328, 0.37945997, 0.20417068,
         0.34455744, 0.35387022, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]],

       [[0.37945997, 0.37732758, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.34371681, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37078491, 0.36436925,
         0.3708008 , 0.37945997, 0.17015145, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37944346, 0.37945997, 0.34033077,
         0.19673077, 0.37944071, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37939056,
         0.37877779, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37885808,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]],

       [[0.37945997, 0.31839107, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997],
        [0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997,
         0.37945997, 0.37945997, 0.37945997, 0.37945997, 0.37945997]]])

Como se puede apreciar en el siguiente cuadro de codigo, la diferencia entre las predicciones es minima

In [140]:
a = np.abs(kriged_field_2 - k3d1.data) > 0.5

a.any()

True

In [141]:
a[4]

array([[False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False,  True, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False]])

## Realizacion de Kriging con gstools sin hacer nada a los datos

In [1]:
import pandas as pd

In [2]:
df = pd.read_table('datos.txt', sep = ' ')
df.columns = [column.replace(" ", "_") for column in df.columns]
df.columns

Index(['id', 'x', 'y', 'z', 'tonn', 'blockvalue', 'destination', 'CU%',
       'process_profit'],
      dtype='object')

In [165]:
x = df['x'].to_numpy()
y = df['y'].to_numpy()
z = df['z'].to_numpy()
cu_value = df['CU%'].to_numpy()

In [166]:
len(x)

14153

In [167]:
# Crear un modelo de variograma esférico
model = gs.Spherical(dim=3, var=0.5, len_scale=1.5)

# Crear una instancia de Kriging Ordinario con el modelo
krige = gs.krige.Ordinary(model, [x, y, z], cu_value)

In [ ]:
# Realizar el Kriging en la grilla deseada
gridx = np.linspace(3, x.max(), 10)
gridy = np.linspace(2, y.max(), 10)
gridz = np.linspace(3, z.max(), 10)
# gridx, gridy, gridz = np.meshgrid(gridx, gridy, gridz)

# Obtener los valores estimados y las varianzas
kriged_field, variances = krige([gridx, gridy, gridz])

In [16]:
from sklearn.model_selection import train_test_split
import numpy as np
import gstools as gs

x = df['x'].to_numpy()
y = df['y'].to_numpy()
z = df['z'].to_numpy()
cu_value = df['CU%'].to_numpy()
features = np.column_stack((x, y, z))

X_train, X_test, y_train, y_test = train_test_split(features, cu_value, test_size=0.5, random_state=42)

In [17]:

model = gs.Spherical(dim=3, var=0.5, len_scale=1.5)
krige = gs.krige.Ordinary(model, X_train.T, y_train)  # Toma la transpuesta de X_train para ajustarse al formato esperado

In [9]:
X_test[0:4].T

array([[37, 30, 35, 45],
       [10, 18, 12, 30],
       [13, 10,  8, 10]], dtype=int64)

In [11]:
y_test[0:4]

array([0.8  , 1.241, 0.733, 0.   ])

In [18]:
kriged_values, variances = krige(X_test[0:4].T)

In [19]:
kriged_values

array([0.47710708, 0.57614163, 0.47283093, 0.25266763])

In [14]:
from sklearn.metrics import r2_score

score = r2_score(y_test[0:4], kriged_values)
score

-0.17759723290921148